{
  "semi": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 80,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "tailwindConfig": "./tailwind.config.js",
  "plugins": ["prettier-plugin-tailwindcss"]
}