.login-background {
  background: linear-gradient(300deg, #7e0000, #003060, #001932);
  background-size: 200% 200%;
  animation: gradientShift 12s ease-in-out infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
