@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: hsl(var(--background));
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 50% 8%;

    --card: 0 0% 100%;
    --card-foreground: 222 50% 8%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 50% 8%;

    --primary: 210 90% 45%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 25% 94%;
    --secondary-foreground: 220 20% 20%;

    --muted: 210 20% 93%;
    --muted-foreground: 220 10% 40%;

    --accent: 210 100% 97%;
    --accent-foreground: 220 20% 25%;

    --destructive: 0 84% 55%;
    --destructive-foreground: 0 0% 100%;

    --border: 214 20% 88%;
    --input: 214 20% 88%;
    --ring: 210 90% 45%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 20% 8%;
    --foreground: 210 15% 90%;

    --card: 220 20% 10%;
    --card-foreground: 210 15% 90%;

    --popover: 220 20% 10%;
    --popover-foreground: 210 15% 90%;

    --primary: 210 100% 60%;
    --primary-foreground: 220 25% 12%;

    --secondary: 220 10% 20%;
    --secondary-foreground: 210 10% 85%;

    --muted: 220 10% 15%;
    --muted-foreground: 220 15% 65%;

    --accent: 220 15% 20%;
    --accent-foreground: 210 15% 85%;

    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 10% 25%;
    --input: 220 10% 25%;
    --ring: 210 100% 60%;
  }
}

/* Targeting the scrollbar itself */
::-webkit-scrollbar {
  width: 12px;
  height: 16px;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
  background-color: hsl(220, 9%, 60%); /* dark muted gray */
  border-radius: 9999px;
  border: 4px solid transparent;
  background-clip: content-box;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(220, 9%, 40%); /* slightly lighter on hover */
}

/* Hidden scrollbar */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
}

/* Shown scrollbar */
.scrollbar-visible::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
.scrollbar-visible {
  scrollbar-width: thin;
}

.scrollbar-x-hidden {
  overflow-x: scroll; /* enable scroll */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-x-hidden::-webkit-scrollbar {
  height: 0; /* Chrome/Safari */
}
